apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: surajmane121045/project_one_backend:77a93063
        ports:
        - containerPort: 8080
        env:
          - name: MONGO_URL
            value: "mongodb://mongo:27017"
